  <title>Eventor | Sign Up</title>

  <div class="container text-center">
    <div class="row">
      <h3>Sign Up</h3>
      <hr>
      <%= form_for(@user, url: signup_path) do |f| %>  
        <div class="col-lg-4 col-lg-offset-4">
         	<%= f.label :name %><br>
					<%= f.text_field :name, class: "form-control" %><br>
        </div>
    </div>  

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <%= f.label :email %><br>
				<%= f.email_field :email, class: "form-control" %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <%= f.label :password %><br>
				<%= f.password_field :password, class: "form-control" %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <%= f.label :password_confirmation, "Password Confirmation" %><br>
				<%= f.password_field :password_confirmation, class: "form-control" %><br>
      </div>
    </div>

      <%= f.submit "Sign Up", class: "btn btn-primary" %><br><br>
      <% end %>

    <p>Already have an account? <%= link_to "Login Here", signup_path %></p>
  </div>