  <%= form_for(@event, url: url) do |f| %>  
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
        <p class="help-block"></p>
      </div> 
    </div> 

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= f.label :description %>
        <%= f.text_area :description, style: "resize: none;", rows: "10", class: "form-control" %>
        <p class="help-block"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= f.label :date %><br>
    		<%= f.datetime_select :date, :ampm => true, :minute_step => 15%>
      </div>
    </div>

    <%= f.submit "Create Event", class: "btn btn-primary", style: "margin-top: 20px;" %>
  <% end %>