  <% provide(:title, @event.title) %> 

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Event Content -->
        <h1 class="center" class="wrap"><%= @event.title %></h1>
        <h5 class="center">Category: <%= @category %></h5>
        <hr>
        <p class="lead center">Created by: <%= link_to @event.user.name, @event.user %></p>
        <p class="lead center"><b>Time:</b> <%= @event.date.strftime("%I : %M %p") %><br><i class="fa fa-calendar"></i><b> Event Date: </b><%= @event.date.strftime("%A, %B %d %Y") %></p>
        <% if @event.picture? %>
          <%= image_tag @event.picture.url, class: "img-responsive", id: "event-show-image", alt: @event.picture %>
        <% else %>
          <%= image_tag "event-show-default.jpg", class: "img-responsive", alt: "default-image" %>
        <% end %><br>
        <p class="lead wrap">Event Description: <%= @event.description %></p><br>
        <% if current_user%>
          <% if current_user.id == @event.user_id %>
            <p class="lead center" ><%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary", id: "show-edit-button" %><%= link_to "Delete Event", @event, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %></p>
          <% elsif @event.date > Time.now %>  
            <div id="attend_form" >
              <% if current_user.attending?(@event) %>
                <%= render "unattend" %>
              <% else %>
                <%= render "attend" %>
              <% end %>
            </div>
          <% else %>
            <p class="center">Event has ended</p>
          <% end %>
        <% else %>  
          <h4 class="lead center" >(Please <%= link_to "Log In", login_path %> or  <%= link_to "Sign Up", signup_path %> to attend and comment on this event)</h4>
        <% end %><br>

        <!-- Attendees -->
        <% if @event.date > Time.now %> 
          <p class="lead center">People attending this event (<span id="attendees"><%= @event.attendees.count %></span>)</p>
        <% else %>
          <p class="lead center" >People that attended this event (<span id="attendees"><%= @event.attendees.count %></span>)</p> 
        <% end %>
        <hr>
        <div id="users_attending" >
          <% @event.attendees.each do |user| %>
            <li style="text-align:center; list-style: none; font-size: 16px;">Name: <%= link_to user.name, user %></li>
          <% end %>
        </div>
        <hr id="separator">

        <!-- Comments -->
        <h3 class="center" id="comment_count">Comments (<%= @event.comments.count %>)</h3>
        <hr>
        <div class="media comment_list" ">
          <%= render @comments %>
        </div>
        <% if current_user %>
          <div class="well">
            <h4>Leave a Comment:</h4>
            <%= render 'comments/form' %>
          </div>
        <% end %>
      </div>

      <!-- Event Sidebar -->
      <div class="col-md-4">
        <!-- Map -->
        <div class="well" id="event-sidebar">
          <p class="lead"><b>Location:</b> <%= @event.address %></p>
          <div id="map"></div>
        </div>
        <!-- <div class="well" id="event-sidebar">
          <h4>Event Search</h4>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div> -->

        <!-- Event Categories Well -->
        <!-- <div class="well" id="event-sidebar">
          <h4>Event Categories</h4>
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>